*{
	font-size: 16px;
	color:solid-black;
	box-sizing: border-box;
}

body {  
  color: #F8D3E1;
  background-color: #F8D3E1;
  
}
#header-nav{
	color: ;
  	background-color: #B4094A;
}
.navbar-brand{
	font-size: 3em;
	padding:20px 0px 20px 0px;
	margin: 20px 0px 20px 0px;

}
li {
	color: solid-black;
	background-color: #FFFEFE;
	border-color:solid-black;
	border: 2px solid black;
}
h1 {
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
}
h2{
	color:#3F0110;
	clear:left;
	font-size: 30px;
	font-weight: bold;
	padding:0px 0px 0px 0px;
}
h3{
	color:black;
	clear:left;
	font-size: 30px;
	padding:20px 0px 20px 0px;
}

.divider{
	background-color: #B9B6B6;
}
p,h3{
	color:#000000;
	background-color:#ffe6cc;
	margin-bottom: 0px;
	font-family: 'dancing script, cursive';
}
p{
	padding:1em 1em 1em 1em;
	text-align: justify-all;
}
#chicken, #beef, #sushi{
	text-align: center;
	font-size: 20px;

}
.navbar-toggle{
	border-width: 1px;
	margin: 10px 10px 10px 10px;
	bottom:0px;
	top:20px;
	width:50px;
	height:50px;
	border-color: #000000;
}
.navbar-toggle .icon-bar{
 width:30px;
 border-right:10px;
}

